# Ignore node_modules directory in both backend and frontend
backend/node_modules/
frontend/node_modules/

# Ignore npm's package-lock.json files
**/package-lock.json

# Ignore .env files (assuming .env.sample is used as a template)
backend/.env

# Ignore build output
frontend/build/

# Ignore any local .env files that may be created
.env

# Ignore Docker related files that might not need to be versioned
docker-compose.override.yml